body {
    font-family: Arial;
    margin: 30px;
}

h1 {
    text-align: center;
    color: blue;
}

.custom-list {
    list-style-image: url("bullet.png");
    list-style-position: inside;
}

.number-list {
    list-style-type: upper-roman;
    list-style-position: outside;
}

li {
    margin: 10px;
    font-size: 18px;
}