body {
    font-family: Arial;
    text-align: center;
}

nav {
    background-color: black;
    padding: 20px;
}

a {
    margin: 15px;
    font-size: 20px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: yellow;
    background-color: blue;
    padding: 10px;
    cursor: pointer;
}

a:active {
    color: red;
}